* {
  box-sizing: border-box;
  max-height: 100000rem; /* font-boosting */
}

body {
  box-sizing: border-box;
  max-height: 100000px;
  padding: 0 0 .4rem;
  margin: 0;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: .14rem;
  color: #636c73;
  font-weight: 300;
  letter-spacing: .01rem;
  background: #fff;
}

h1 {
  font-size: .2rem;
  margin: 0;
}

h2 {
  font-size: .18rem;
  margin: 0;
}

button {
  min-width: .6rem;
  height: .3rem;
  padding: 0 .1rem;
  border: 1px solid;
  border-radius: .03rem;
  font-size: inherit;
  background: transparent;
  cursor: pointer;
}

a, button {
  opacity: .8;
  text-decoration: none;
}

input, textarea, select {
  padding: 0 .1rem;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: inherit;
  color: inherit;
  border: 1px solid #eaefef;
  border-radius: .03rem;
}

input, select {
  height: .34rem;
}

a {
  color: #42b983;
}

a:hover, button:hover {
  opacity: 1;
}

.transition {
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root-h1 {
  position: relative;
  width: calc(100% - .3rem);
  margin: .2rem auto 0;
  padding: 0 0 0 .4rem;
  line-height: .3rem;
  font-size: .18rem;
  font-weight: 500;
  color: #262f3a;
}

.root-h1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: .5rem;
  background: url('../../logo.png') no-repeat left .05rem center/.32rem auto;
}

.root-h {
  display: inline-block;
  margin: .4rem 0 .2rem;
  line-height: .24rem;
  font-size: .15rem;
  font-weight: 500;
  color: #999;
  border-bottom: 2px solid #2fb9b2;
}

.root-desc {
  margin: 0 0 .1rem;
}

.other-code-wrap, .app {
  width: calc(100% - .3rem);
  margin: 0 auto;
}

.example-wrap {
  padding: 1em;
  border: 1px solid #eaefef;
  border-radius: .03rem;
}

.code-wrap {
  margin-top: .2rem;
}

.root-module-title, .code-title {
  display: inline-block;
  margin: 0 0 .1rem;
  padding: .02rem .05rem;
  font-size: .15rem;
  font-weight: 500;
  border-radius: .02rem;
  background: #f3f9f9;
}

.code-title:nth-child(2) {
  margin-top: 0;
}

.code-section {

}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .root-h1, .other-code-wrap, .app {
    width: 1200px;
  }
}