<!DOCTYPE html>
<html style="font-size:625%">
<head>
  <meta charset="utf-8">
  <title>vue-slide-for-more -- vue -- livelybone</title>
  <meta name="keywords" content="livelybone, plugins, vue, vuejs, react, js, javascript, node, php">
  <meta name="author" content="livelybone(2631541504@qq.com)">
  <link rel="shortcut icon" href="../../logo.png">
  <link rel="shortcut icon" href="../../logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../../common/css/common.css">
  <script src="../../common/js/common.js"></script>
  <script src="../../common/js/vue.min.js"></script>
  <script src="https://unpkg.com/vue-slide-for-more@4.0.0/lib/umd/index.js"></script>
  <link href="https://unpkg.com/vue-slide-for-more@4.0.0/lib/css/index.css" rel="stylesheet">
  <style type="text/css">
  .item {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #fff;
  }

  .item:nth-child(2n) {
    background: #3DBD7D;
    color: #fff;
  }

  .slide-for-more-base-wrap {
    height: 100vh;
  }

  .slide-for-more-content {
    min-height: 100vh;
    box-shadow: none !important;
  }

  .tip-wrap {
    padding: 30vh 0 0;
  }

  .tip {
    padding: .1rem 0;
    text-align: center;
    font-size: .2rem;
    color: #999;
  }
  </style>
</head>
<body>
<div id="app"></div>
<script type="text/javascript">
new Vue({
  el: '#app',
  template: '<slide-for-more v-if="isMobile" tipHeight=".4rem" :isSearching="isSearching" @refresh="refresh" @loadMore="loadMore"><div v-for="(c, i) in list" :key="i" class="item">{{c}}</div></slide-for-more><div v-else class="tip-wrap"><p class="tip">请使用移动端浏览器或者 chrome devtools 查看</p><p class="tip">Please see it at mobile browser of chrome devtools.</p></div>',
  data: function () {
    return {
      list: ['content', 'content', 'content', 'content'],
      isMobile: window.isMobile,
      isSearching: false
    }
  },
  methods: {
    refresh: function () {
      this.search((function () {
        this.list = this.list.slice(0, 4)
      }).bind(this))
    },
    loadMore: function () {
      this.search((function () {
        this.list.push('content')
      }).bind(this))
    },
    search: function (cb) {
      this.isSearching = true
      setTimeout((function () {
        cb()
        this.isSearching = false
      }).bind(this), 1000)
    }
  },
  components: { 'slide-for-more': VueSlideForMore.SlideForMore }
})
</script>
</body>
</html>
