.scrollbar-wrap {
  position: relative;
  width: 100%;
  padding: 0 !important;
  overflow: hidden
}

.scrollbar-wrap:hover .scrollbar {
  display: block
}

.scrollbar-wrap .scrollbar-content {
  position: relative;
  width: 100%;
  height: auto
}

.scrollbar-wrap .scrollbar {
  display: none;
  position: absolute;
  right: .04rem;
  width: .04rem;
  border-radius: .02rem;
  background: #eee;
  box-shadow: 0 0 .02rem rgba(0, 0, 0, 0.1);
  cursor: default !important
}

.vue-popper {
  border: 1px solid rgba(194, 204, 220, 0.5);
  border-radius: .03rem;
  background: #fff
}

.vue-popper[x-placement^=top] {
  margin-bottom: .1rem
}

.vue-popper[x-placement^=top] .arrow {
  position: absolute;
  bottom: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-bottom: 0;
  border-top-color: rgba(194, 204, 220, 0.5)
}

.vue-popper[x-placement^=top] .arrow:before {
  content: '';
  position: absolute;
  bottom: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-bottom: 0;
  border-top-color: #fff;
  left: -.06rem;
  bottom: 1px
}

.vue-popper[x-placement^=bottom] {
  margin-top: .1rem
}

.vue-popper[x-placement^=bottom] .arrow {
  position: absolute;
  top: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-top: 0;
  border-bottom-color: rgba(194, 204, 220, 0.5)
}

.vue-popper[x-placement^=bottom] .arrow:before {
  content: '';
  position: absolute;
  top: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
  left: -.06rem;
  top: 1px
}

.vue-popper[x-placement^=left] {
  margin-right: .1rem
}

.vue-popper[x-placement^=left] .arrow {
  position: absolute;
  right: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-right: 0;
  border-left-color: rgba(194, 204, 220, 0.5)
}

.vue-popper[x-placement^=left] .arrow:before {
  content: '';
  position: absolute;
  right: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-right: 0;
  border-left-color: #fff;
  top: -.06rem;
  right: 1px
}

.vue-popper[x-placement^=right] {
  margin-left: .1rem
}

.vue-popper[x-placement^=right] .arrow {
  position: absolute;
  left: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-left: 0;
  border-right-color: rgba(194, 204, 220, 0.5)
}

.vue-popper[x-placement^=right] .arrow:before {
  content: '';
  position: absolute;
  left: -.06rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-left: 0;
  border-right-color: #fff;
  top: -.06rem;
  left: 1px
}

.split {
  color: #aaa !important
}

.select-base, .select-multi, .cascader, .cascader-multi {
  position: relative;
  padding: 0 .1rem;
  border: 1px solid #c2ccdc;
  border-radius: .03rem;
  background: transparent;
  cursor: pointer
}

.select-base.select-multi .options .option.selected, .select-base.cascader .options .option.selected, .select-base.cascader-multi .options .option.selected, .select-multi.select-multi .options .option.selected, .select-multi.cascader .options .option.selected, .select-multi.cascader-multi .options .option.selected, .cascader.select-multi .options .option.selected, .cascader.cascader .options .option.selected, .cascader.cascader-multi .options .option.selected, .cascader-multi.select-multi .options .option.selected, .cascader-multi.cascader .options .option.selected, .cascader-multi.cascader-multi .options .option.selected {
  color: #30b386 !important;
  background: transparent !important;
  font-weight: 600
}

.select-base.select-multi .options .option.selected .icon-selected, .select-base.cascader .options .option.selected .icon-selected, .select-base.cascader-multi .options .option.selected .icon-selected, .select-multi.select-multi .options .option.selected .icon-selected, .select-multi.cascader .options .option.selected .icon-selected, .select-multi.cascader-multi .options .option.selected .icon-selected, .cascader.select-multi .options .option.selected .icon-selected, .cascader.cascader .options .option.selected .icon-selected, .cascader.cascader-multi .options .option.selected .icon-selected, .cascader-multi.select-multi .options .option.selected .icon-selected, .cascader-multi.cascader .options .option.selected .icon-selected, .cascader-multi.cascader-multi .options .option.selected .icon-selected {
  float: right;
  position: relative;
  width: .15rem;
  height: 100%
}

.select-base.select-multi .options .option.selected .icon-selected:before, .select-base.cascader .options .option.selected .icon-selected:before, .select-base.cascader-multi .options .option.selected .icon-selected:before, .select-multi.select-multi .options .option.selected .icon-selected:before, .select-multi.cascader .options .option.selected .icon-selected:before, .select-multi.cascader-multi .options .option.selected .icon-selected:before, .cascader.select-multi .options .option.selected .icon-selected:before, .cascader.cascader .options .option.selected .icon-selected:before, .cascader.cascader-multi .options .option.selected .icon-selected:before, .cascader-multi.select-multi .options .option.selected .icon-selected:before, .cascader-multi.cascader .options .option.selected .icon-selected:before, .cascader-multi.cascader-multi .options .option.selected .icon-selected:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: .06rem;
  height: .06rem;
  margin: -.03rem 0 0 -.03rem;
  border-radius: .03rem;
  background: #30b386
}

.select-base.select-multi .options .option.selected .icon-expand:before, .select-base.cascader .options .option.selected .icon-expand:before, .select-base.cascader-multi .options .option.selected .icon-expand:before, .select-multi.select-multi .options .option.selected .icon-expand:before, .select-multi.cascader .options .option.selected .icon-expand:before, .select-multi.cascader-multi .options .option.selected .icon-expand:before, .cascader.select-multi .options .option.selected .icon-expand:before, .cascader.cascader .options .option.selected .icon-expand:before, .cascader.cascader-multi .options .option.selected .icon-expand:before, .cascader-multi.select-multi .options .option.selected .icon-expand:before, .cascader-multi.cascader .options .option.selected .icon-expand:before, .cascader-multi.cascader-multi .options .option.selected .icon-expand:before {
  border-left-color: #30b386
}

.select-base.select-multi .options .option:hover, .select-base.cascader .options .option:hover, .select-base.cascader-multi .options .option:hover, .select-multi.select-multi .options .option:hover, .select-multi.cascader .options .option:hover, .select-multi.cascader-multi .options .option:hover, .cascader.select-multi .options .option:hover, .cascader.cascader .options .option:hover, .cascader.cascader-multi .options .option:hover, .cascader-multi.select-multi .options .option:hover, .cascader-multi.cascader .options .option:hover, .cascader-multi.cascader-multi .options .option:hover {
  background: #e9f9f4 !important
}

.select-base.select-multi .options .option:hover .icon-expand:after, .select-base.cascader .options .option:hover .icon-expand:after, .select-base.cascader-multi .options .option:hover .icon-expand:after, .select-multi.select-multi .options .option:hover .icon-expand:after, .select-multi.cascader .options .option:hover .icon-expand:after, .select-multi.cascader-multi .options .option:hover .icon-expand:after, .cascader.select-multi .options .option:hover .icon-expand:after, .cascader.cascader .options .option:hover .icon-expand:after, .cascader.cascader-multi .options .option:hover .icon-expand:after, .cascader-multi.select-multi .options .option:hover .icon-expand:after, .cascader-multi.cascader .options .option:hover .icon-expand:after, .cascader-multi.cascader-multi .options .option:hover .icon-expand:after {
  border-left-color: #e9f9f4
}

.select-base.select-multi .options .option .icon-expand, .select-base.cascader .options .option .icon-expand, .select-base.cascader-multi .options .option .icon-expand, .select-multi.select-multi .options .option .icon-expand, .select-multi.cascader .options .option .icon-expand, .select-multi.cascader-multi .options .option .icon-expand, .cascader.select-multi .options .option .icon-expand, .cascader.cascader .options .option .icon-expand, .cascader.cascader-multi .options .option .icon-expand, .cascader-multi.select-multi .options .option .icon-expand, .cascader-multi.cascader .options .option .icon-expand, .cascader-multi.cascader-multi .options .option .icon-expand {
  display: block;
  float: right;
  position: relative;
  top: calc((.3rem - .05rem) / 2);
  width: .1rem;
  height: .05rem
}

.select-base.select-multi .options .option .icon-expand:before, .select-base.cascader .options .option .icon-expand:before, .select-base.cascader-multi .options .option .icon-expand:before, .select-multi.select-multi .options .option .icon-expand:before, .select-multi.cascader .options .option .icon-expand:before, .select-multi.cascader-multi .options .option .icon-expand:before, .cascader.select-multi .options .option .icon-expand:before, .cascader.cascader .options .option .icon-expand:before, .cascader.cascader-multi .options .option .icon-expand:before, .cascader-multi.select-multi .options .option .icon-expand:before, .cascader-multi.cascader .options .option .icon-expand:before, .cascader-multi.cascader-multi .options .option .icon-expand:before {
  content: '';
  position: absolute;
  right: -.06rem;
  width: 0;
  height: 0;
  border: .05rem solid transparent;
  border-right: 0;
  border-left-color: #666;
  right: 0
}

.select-base.select-multi .options .option .icon-expand:after, .select-base.cascader .options .option .icon-expand:after, .select-base.cascader-multi .options .option .icon-expand:after, .select-multi.select-multi .options .option .icon-expand:after, .select-multi.cascader .options .option .icon-expand:after, .select-multi.cascader-multi .options .option .icon-expand:after, .cascader.select-multi .options .option .icon-expand:after, .cascader.cascader .options .option .icon-expand:after, .cascader.cascader-multi .options .option .icon-expand:after, .cascader-multi.select-multi .options .option .icon-expand:after, .cascader-multi.cascader .options .option .icon-expand:after, .cascader-multi.cascader-multi .options .option .icon-expand:after {
  content: '';
  position: absolute;
  right: -.06rem;
  width: 0;
  height: 0;
  border: .05rem solid transparent;
  border-right: 0;
  border-left-color: #fff;
  right: 1px
}

.select-base.cascader .options, .select-base.cascader-multi .options, .select-multi.cascader .options, .select-multi.cascader-multi .options, .cascader.cascader .options, .cascader.cascader-multi .options, .cascader-multi.cascader .options, .cascader-multi.cascader-multi .options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  right: auto;
  width: auto
}

.select-base.cascader .options .scrollbar-wrap, .select-base.cascader-multi .options .scrollbar-wrap, .select-multi.cascader .options .scrollbar-wrap, .select-multi.cascader-multi .options .scrollbar-wrap, .cascader.cascader .options .scrollbar-wrap, .cascader.cascader-multi .options .scrollbar-wrap, .cascader-multi.cascader .options .scrollbar-wrap, .cascader-multi.cascader-multi .options .scrollbar-wrap {
  width: auto;
  min-width: 1.6rem
}

.select-base.cascader .options .option.selected, .select-base.cascader-multi .options .option.selected, .select-multi.cascader .options .option.selected, .select-multi.cascader-multi .options .option.selected, .cascader.cascader .options .option.selected, .cascader.cascader-multi .options .option.selected, .cascader-multi.cascader .options .option.selected, .cascader-multi.cascader-multi .options .option.selected {
  font-weight: 500
}

.select-base.cascader .options .line, .select-base.cascader-multi .options .line, .select-multi.cascader .options .line, .select-multi.cascader-multi .options .line, .cascader.cascader .options .line, .cascader.cascader-multi .options .line, .cascader-multi.cascader .options .line, .cascader-multi.cascader-multi .options .line {
  float: left;
  width: 1px;
  margin: -.04rem 0;
  background: rgba(194, 204, 220, 0.5)
}

.select-base *, .select-multi *, .cascader *, .cascader-multi * {
  box-sizing: border-box;
  font-size: .14rem;
  color: #666;
  outline: none !important
}

.select-base .value, .select-base .input, .select-multi .value, .select-multi .input, .cascader .value, .cascader .input, .cascader-multi .value, .cascader-multi .input {
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer
}

.select-base .placeholder, .select-multi .placeholder, .cascader .placeholder, .cascader-multi .placeholder {
  color: #aaa
}

.select-base .input, .select-multi .input, .cascader .input, .cascader-multi .input {
  display: block;
  outline: none !important
}

.select-base .input::-webkit-input-placeholder, .select-multi .input::-webkit-input-placeholder, .cascader .input::-webkit-input-placeholder, .cascader-multi .input::-webkit-input-placeholder {
  color: #aaa
}

.select-base .input:-moz-placeholder, .select-multi .input:-moz-placeholder, .cascader .input:-moz-placeholder, .cascader-multi .input:-moz-placeholder {
  color: #aaa
}

.select-base .input::-moz-placeholder, .select-multi .input::-moz-placeholder, .cascader .input::-moz-placeholder, .cascader-multi .input::-moz-placeholder {
  color: #aaa
}

.select-base .input:-ms-input-placeholder, .select-multi .input:-ms-input-placeholder, .cascader .input:-ms-input-placeholder, .cascader-multi .input:-ms-input-placeholder {
  color: #aaa
}

.select-base .values, .select-multi .values, .cascader .values, .cascader-multi .values {
  min-height: .3rem;
  height: auto;
  overflow: hidden
}

.select-base .val, .select-multi .val, .cascader .val, .cascader-multi .val {
  display: inline-block;
  width: auto;
  height: .24rem;
  line-height: .24rem;
  padding: 0 .06rem;
  margin: .03rem;
  margin-left: 0;
  border-radius: .02rem;
  background: #eee;
  white-space: nowrap;
  vertical-align: top
}

.select-base .val.input, .select-base .val.placeholder, .select-multi .val.input, .select-multi .val.placeholder, .cascader .val.input, .cascader .val.placeholder, .cascader-multi .val.input, .cascader-multi .val.placeholder {
  background: transparent
}

.select-base .val .v, .select-multi .val .v, .cascader .val .v, .cascader-multi .val .v {
  float: left;
  font-size: .12rem
}

.select-base .val .icon-del, .select-multi .val .icon-del, .cascader .val .icon-del, .cascader-multi .val .icon-del {
  float: right;
  margin: 0 0 0 .1rem;
  position: relative;
  width: .12rem;
  height: 100%
}

.select-base .val .icon-del:hover:before, .select-base .val .icon-del:hover:after, .select-multi .val .icon-del:hover:before, .select-multi .val .icon-del:hover:after, .cascader .val .icon-del:hover:before, .cascader .val .icon-del:hover:after, .cascader-multi .val .icon-del:hover:before, .cascader-multi .val .icon-del:hover:after {
  background: #333
}

.select-base .val .icon-del:before, .select-base .val .icon-del:after, .select-multi .val .icon-del:before, .select-multi .val .icon-del:after, .cascader .val .icon-del:before, .cascader .val .icon-del:after, .cascader-multi .val .icon-del:before, .cascader-multi .val .icon-del:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #666;
  transform: rotate(45deg)
}

.select-base .val .icon-del:after, .select-multi .val .icon-del:after, .cascader .val .icon-del:after, .cascader-multi .val .icon-del:after {
  transform: rotate(-45deg)
}

.select-base .icon-arrow, .select-multi .icon-arrow, .cascader .icon-arrow, .cascader-multi .icon-arrow {
  display: block;
  position: absolute;
  right: .04rem;
  top: 50%;
  width: .1rem;
  height: .05rem;
  margin: -.025rem 0 0;
  transition: transform .3s ease
}

.select-base .icon-arrow:before, .select-multi .icon-arrow:before, .cascader .icon-arrow:before, .cascader-multi .icon-arrow:before {
  content: '';
  position: absolute;
  bottom: -.06rem;
  width: 0;
  height: 0;
  border: .05rem solid transparent;
  border-bottom: 0;
  border-top-color: #666;
  bottom: 0
}

.select-base .icon-arrow:after, .select-multi .icon-arrow:after, .cascader .icon-arrow:after, .cascader-multi .icon-arrow:after {
  content: '';
  position: absolute;
  bottom: -.06rem;
  width: 0;
  height: 0;
  border: .05rem solid transparent;
  border-bottom: 0;
  border-top-color: #fff;
  bottom: 1px
}

.select-base .icon-arrow.reverse, .select-multi .icon-arrow.reverse, .cascader .icon-arrow.reverse, .cascader-multi .icon-arrow.reverse {
  transform: rotate(180deg)
}

.select-base .options, .select-multi .options, .cascader .options, .cascader-multi .options {
  width: 100%;
  padding: .04rem 0;
  z-index: 9999;
  box-shadow: 0 1px .1rem rgba(0, 0, 0, 0.1)
}

.select-base .options .option, .select-multi .options .option, .cascader .options .option, .cascader-multi .options .option {
  height: .3rem;
  line-height: .3rem;
  padding: 0 .1rem
}

.select-base .options .option:hover, .select-multi .options .option:hover, .cascader .options .option:hover, .cascader-multi .options .option:hover {
  background: #e9f9f4 !important
}

.select-base .options .option.selected, .select-multi .options .option.selected, .cascader .options .option.selected, .cascader-multi .options .option.selected {
  color: #fff !important;
  background: #30b386 !important
}
